In [1]:
import sqlite3

In [2]:
# connect to a database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# create a simple table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER
    )
''')

# insert a sample row into the table
cursor.execute('''
    INSERT INTO users (name, age) VALUES (?, ?)
''', ('Alice', 30))

# commit and close the connection
conn.commit()
conn.close()

In [3]:
# query the database using SELECT
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# fetch data
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

for row in rows:
    print(row)

conn.close()

(1, 'Alice', 30)